.jumbotron{
    background-color: turquoise;
    color: black;
}
.navbar{
    background-color: #193498;
}

.nav-link{
    color: white !important;
    float: left;
    font-size: 1.7em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -1px;
}

#button-logo{
    color: white !important;
    border-color: #1597E5;
    background-color: #1597E5;
}

#logo{
    float: left;
    font-size: 1.7em;
    color: white;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#drop{
    background-color: #1597E5;
}

#list{
    color: white !important;
    background-color: #1597E5;
   
}